ant-samples/ace-unittest-covreage/ws1/TestSimple_Project/calculator_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><!--generated by GLUE Standard 4.1.2 on Fri Nov 21 13:50:48 PST 2003--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.parasoft.com/wsdl/calculator/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tme="http://www.themindelectric.com/" xmlns:tns="http://www.parasoft.com/wsdl/calculator/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
   <xsd:element ibmSchExtn:docRoot="true" name="add">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="x" type="xsd:float"/>
      <xsd:element name="y" type="xsd:float"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element ibmSchExtn:docRoot="true" name="addResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="Result" type="xsd:float"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element ibmSchExtn:docRoot="true" name="divide">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="numerator" type="xsd:float"/>
      <xsd:element name="denominator" type="xsd:float"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element ibmSchExtn:docRoot="true" name="divideResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="Result" type="xsd:float"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element ibmSchExtn:docRoot="true" name="multiply">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="x" type="xsd:float"/>
      <xsd:element name="y" type="xsd:float"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element ibmSchExtn:docRoot="true" name="multiplyResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="Result" type="xsd:float"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element ibmSchExtn:docRoot="true" name="subtract">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="x" type="xsd:float"/>
      <xsd:element name="y" type="xsd:float"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element ibmSchExtn:docRoot="true" name="subtractResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="Result" type="xsd:float"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>